.page {
	padding: 20px 10px;
	padding-left: 0;
	:global {
		.section {
			padding: 10px;
			margin-top: 10px;
			&.ghost {
				background: #dbdbdb;
			}
			& > span {
				display: inline-block;
				width: 100px;
			}
		}
		.ns-btn {
			margin: 0 20px;
		}
	}
}